body {
	font-family: Arial, sans-serif;
}

.container {
	margin-top: 20px;
}

.alert {
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.alert-success {
	background-color: #d4edda;
	color: #155724;
}


